<%- include ("cabeceras/cabecera.principal.ejs") %>

<h1>Rotating Icon Buttons</h1>
<div class="main-wrapper">

		<a href="/consulta"><i class="material-icons">search</i></a>
		<a href="/listarPresupuesto"><i class="material-icons">add</i></a>
		
</div>
<p>CodePen by Cole Waldrip</p>
</body>
</html>