<%- include ("cabeceras/cabecera.principal.ejs") %>


<nav id='menu'>
    <a href="/listarPresupuesto" class="fas fa-plus-circle"> </a>
    
    <a href="/consultaPresupuesto" class="fas fa-th-list"></a>
    <br>
     
</nav>

</body>
</html>